include index.pug
body
h1 Change Password!
  form(id="reg-form" method="POST")
    p
      | Password: 
      input(type='password', id="password" name='password' required)
      
      input(type='submit', value='Change')
      
      script(type='text/javascript' src="/Scripts/change-password.js")
  
