include index.pug
script(type='text/javascript' src="/Scripts/definition.js")
body
  <div style="padding: 15px;">
    <div id="container" style="background:#f2f2f2; border-radius:25px; border:.5px solid black; width:620px; margin-top: 15px; margin-left: 15px; padding: 8px; height:140px; ">
    <h1>Python Definition Flash Cards</h1>
    <a href="/pythonDefinitions" style="margin-left:25px;"><button type="button" class="btn btn-dark" style="font-size:20px;">Start now!</button></a>
    </div>
    <div id="container" style="margin-top:10px; background:#f2f2f2; border-radius:20px; border:.5px solid black; width:620px; margin-top: 15px; margin-left: 15px; padding: 8px; height:140px; ">
    <h1>HTML/CSS Definition Flash Cards</h1>
    <a href="/htmlDefinitions" style="margin-left:25px;"><button type="button" class="btn btn-dark" style="font-size:20px;">Start now!</button></a>
    </div>
</div>