<html lang="en"
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
<body>
<a href="/" class="link">Go Back</a>
<p>Login failed.</p>
</body>
