include index.pug
body.temp
  h1 Home, Welcome #{user}!
<div style="margin-left: 300px;"id="twit"></div>
<form action="/logout" method="POST">
<button>Logout</button>
</form>
script(type='text/javascript' src="/Scripts/twitter.js")