include index.pug
body
  form(id="login" method="POST")
    p
      | Username: 
      input(type='text', id="username" name='username' required)
      | Password: 
      input(type='password', id="password" name='password' required)
      
      input(type='submit', value='Login')
      
      script(type='text/javascript' src="/Scripts/login.js")
  
