include index.pug
body
  form(id="reg-form" onClick="registerUser()" method='POST')
    p
      | Username: 
      input(type='text', name='title', value='')
      |          Password: 
      input(type='text', name='year', value='')
      
      input(type='submit', value='Submit')
