include index.pug
body.tempReflect
  h1 Reflections
  form
    p
      | Reflection: 
      <textarea id="text-area" rows="10" cols="50" name="comment" required></textarea>
      input(type='submit', value='Submit Reflection' id="submitRef" style="margin-left: 10px;")


