include index.pug
body
  form(id="reg-form" method="POST")
    p
      | Username: 
      input(type='text', id="username" name='username' required)
      | Password: 
      input(type='password', id="password" name='password' required)
      
      input(type='submit', value='Register')
      
      script(type='text/javascript' src="/Scripts/register.js").
  
